nav {
 text-align: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 77px;
    padding: 20px;
    box-shadow: 10px 10px 10px 10px rgb(255, 255, 255);
  }
  body {
    text-align: center;
    background-image: url("background.webp");
  }
  nav a {
    margin-left: 15px;
    text-decoration: none;
    font-size: 20px;
  }
  main {
    margin-top: 150px;
}
.informations {
    background-color: rgb(197, 229, 255);
    width: 550px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
  }
  .informations:hover {
    background-color: gray;
    cursor: pointer;
  }
  #work {
    background-color: #3d83df;
    width: 600px;
    margin: 50px auto 100px auto;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
  }
  .images {
    width: 50px;
    border-radius: 50%;
    height: 50px;
  }
  footer {
        display: flex;
        align-content: center;
        margin-right: 500px;
        margin-left: 500px;   
        background-color: white;
       position:fixed; 
       bottom: 0;
       height: 10%;
       width: 20%;
       left: 0;
      }
  #msg {
    float: right;
  }
  #container:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
  }

     
  